<!DOCTYPE html>
<html ng-app="app">
<base href='/learning/ui/components/' />

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="html5_angular.css" />

</head>

<body ng-cloak="">
    <h1 class="title">Component Router</h1>
    <app></app>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="angular_1_router.js"></script>
    <script type="text/javascript" src="heroDetails.js"></script>
    <script type="text/javascript" src="heroes.js"></script>
    <script type="text/javascript" src="crisisDetails.js"></script>
    <script type="text/javascript" src="crisis.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>

</html>