Page Three
{{var}}

<a class="btn btn-sm btn-primary" href="" ng-click="changeSearch()"> Click to change search </a>
<a class="btn btn-sm btn-primary" href="" ng-click="changeRouteParams()"> Update Params </a>
<a class="btn btn-sm btn-primary" href="" ng-click="showNChangeHash()"> Change Hash </a>
<a class="btn btn-sm btn-primary" href="" ng-click="getAbsUrl()"> Get Abs </a>
<a class="btn btn-sm btn-primary" href="" ng-click="getUrl()"> Get Url </a>
<a class="btn btn-sm btn-primary" href="" ng-click="getPath()"> Get Path </a>
<a class="btn btn-sm btn-primary" href="" ng-click="getMisc()"> Get Misc </a>
<a class="btn btn-sm btn-primary" href="" ng-click="setSearch()"> Get Search </a>

 
<p>Input something in the input box:</p>
<p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
<p>Name : <input type="text" ng-model="name1" placeholder="Enter name here"></p>
<h1>Hello {{name}}</h1>
<h1>Hello {{::name1}}</h1>

