<!DOCTYPE html>
<!-- <html ng-app="my-app" ng-strict-di> -->
<html ng-app="my-app">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/html5_angular.css" />
</head>

<body ng-cloak>
    <ng-view></ng-view>
    <div class="container">
        <div class="holder" ng-controller="mainController" ng-cloak>
            {{changeThisElement}}
            <div class="row">
                <div class="col">Controller variable : {{name}}, {{wheelshape}}, {{carmodel}}</div>
                <div class="w-100"></div>
                <div class="col">From Controller Scope
                    <input name="ctrlInput" value="{{name}}" ng-model="name" />
                </div>
            </div>
            <hr />
            <!-- This will have two scopes (controller and directive) bounded two way with each other. So if we change scope variable anywhere the global scope variable shared between directive and controller changes. -->
            <scopetest name="inner" carmodel="carmodel" wheelshape="{{wheelshape}}" subscribe="subscribe(carmodel)">Dummy text</scopetest>
            <button ng-click="changeEnabled()">Click me</button>
            <button ng-click="changeWatch()">Click to change watch</button>
            <button ng-click="changeWatchAgain()">Click to change watch again</button>
        </div>
        <!-- This will not have any value from controller because this is outside controller scope and hence has only directive scope. -->
        <hr />
        <scopetest name="outer" carmodel="manufacturer" wheelshape="30" subscribe="subscribe('This is a popup message')">Dummy Text</scopetest>
        <controller-test-parent name="Kushagra" ng-repeat="item in [1,2,3]">
            <div>this is going to be transcluded.</div>
        </controller-test-parent>
        <testNoJson class="testNoJson" testNoJson></testNoJson>
    </div>
    <div ng-controller="setControllerOne">
        <div ng-controller="innerControllerOne">
            <div ng-controller="innerControllerTwo">
                <div ng-controller="innerControllerThree as ict">
                    {{name | getCapital:ict:this}}, {{age}}, {{name}}, {{gender}}
                    <input type="text" name="searchCriteria" ng-model="searchCriteria" value="" />
                    <input type="number" name="serachCriteriaNumbers" ng-model="serachCriteriaNumbers" value="" />
                    <div class="person" ng-repeat="person in persons | customFilter"></div>
                    <div class="person" ng-repeat="person in persons | orderBy: SortOrder: false: customComparator | filter:searchCriteria">{{person.name}}, {{person.phone}}, {{person.age}}, {{person.age-person.pivot}}</div>
                </div>
            </div>
            <div ng-controller="innerControllerTwoSibbling"></div>
        </div>
    </div>

    <div ng-init="age = 300">
        {{age | getAge:this}}
    </div>

    <digest-element-directive ng-repeat="item in ['Kushagra', 'Daniel', 'Ram']"><div class="animate">{{item}}</div></digest-element-directive>
    <digest-element-multi-dir></digest-element-multi-dir>
    <digest-element-multi-dir></digest-element-multi-dir>
    <digest-element-multi-dir></digest-element-multi-dir>

    <div ng-init="friends = [{name:'John', phone:'555-1276'},
    {name:'Mary', phone:'800-BIG-MARY'},
    {name:'Mike', phone:'555-4321'},
    {name:'Adam', phone:'555-5678'},
    {name:'Julie', phone:'555-8765'},
    {name:'Juliette', phone:'555-5678'}]"></div>

    <label>Search:
        <input ng-model="searchText">
    </label>
    <table id="searchTextResults">
        <tr>
            <th>Name</th>
            <th>Phone</th>
        </tr>
        <tr ng-repeat="friend in friends | filter:searchText">
            <td>{{friend.name}}</td>
            <td>{{friend.phone}}</td>
        </tr>
    </table>
    <hr>
    <label>Any:
        <input ng-model="search.$">
    </label>
    <br>
    <label>Name only
        <input ng-model="search.name">
    </label>
    <br>
    <label>Phone only
        <input ng-model="search.phone">
    </label>
    <br>
    <label>Equality
        <input type="checkbox" ng-model="strict">
    </label>
    <br>
    <table id="searchObjResults">
        <tr>
            <th>Name</th>
            <th>Phone</th>
        </tr>
        <tr ng-repeat="friendObj in friends | filter:search:strict">
            <td>{{friendObj.name}}</td>
            <td>{{friendObj.phone}}</td>
        </tr>
    </table>

    <div id="filterFiltersContainer">
        <label>All:<input ng-model="searchTextAll"/></label>
        <br />
        <label>Name Only:<input ng-model="searchTextNameOnly"/></label>
        <br />        
        <label>Phone Only:<input ng-model="searchTextPhoneOnly"/></label>
        <br />        
        <label>Text not containing:<input ng-model="searchTextNot"/></label>
        <br />        
        <label>Strict Check with angular.equals:<input type="checkbox" ng-model="checkStrict"/></label>
        <br />        
        <div  ng-repeat="friend in friends | filter: {$: searchTextAll, name: searchTextNameOnly, phone: searchTextPhoneOnly}: checkStrict">
            {{friend.name}}, {{friend.phone}}
        </div>
    </div>

    <animate-tag ng-repeat="item in ['Kushagra', 'Daniel', 'Ram']" class="animate">
        {{item}}
    </animate-tag>    

    <script type="text/javascript" src="src/angular/angular.js"></script>
    <script type="text/javascript" src="src/main_ang.js"></script>
</body>

</html>