<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/html5_angular.css" />
    
</head>
<body ng-controller="candidateController" ng-cloak="">
    <!-- {{candidates | json}} -->
    <button addcandidates ng-class="{button: true}"> Click here to add new candidates </button>
    <button removecandidates> Click here to remove new candidates </button>
    <button ng-click="animateControls=(!animateControls)"> Transfer adding and removal controls to $animate instead of $scope </button>
    <div class="animate" ng-repeat="item in candidates" ng-class="systemClass">
        {{item}}
        <input type="number" max="{{candidateCount}}" ng-model="newposition"/>
        <button reposition index={{$index}}> Move this candidate to given position. </button>
        <button ng-click="systemClass='newClass'"> Add Class </button>
    </div>
    <div class="animate-manual"></div>
    Anchor Example
    <div ng-view class="view"></div>
    <form name="form" method="POST" action="/dashboard/">
        <div contenteditable="true" name="cEName" placeholder="This is the default Value"></div>
        <input type="text" name="user"/>
        <input type="submit" />
    </form>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="src/angular/angular.js"></script>
    <script type="text/javascript" src="src/angular/angular-animate.js"></script>
    <script type="text/javascript" src="src/angular/angular-route.js"></script>
    <script type="text/javascript" src="src/ang-animate.js"></script>
</body>
</html>