<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="styles/html5_angular.css" />
    
</head>
<body ng-cloak="" ng-controller="homeController">
    {{response | json}}
    <form method="post" action="request.php" enctype="multipart/form-data" name="form">
        <input name="username" />
        <input name="marks" type="number"/>
        <input type="file" name="file"/>
        <input type="submit" />
        <input type="button" value="CLick to Submit"  ng-click="submitForm()"/>
        <input type="button" value="Submit File"  ng-click="submitFile()"/>        
    </form>
    <div ng-controller="CacheController">
            <input ng-model="newCacheKey" placeholder="Key">
            <input ng-model="newCacheValue" placeholder="Value">
            <button ng-click="put(newCacheKey, newCacheValue)">Cache</button>
          
            <p ng-if="keys.length">Cached Values</p>
            <div ng-repeat="key in keys">
              <span ng-bind="key"></span>
              <span>: </span>
              <b ng-bind="cache.get(key)"></b>
            </div>
          
            <p>Cache Info</p>
            <div ng-repeat="(key, value) in cache.info()">
              <span ng-bind="key"></span>
              <span>: </span>
              <b ng-bind="value"></b>
            </div>
          </div>
    <a class="btn btn-sm btn-primary" href="" ng-click="makeRequest()"> Send GET</a>    
    <a class="btn btn-sm btn-primary" href="" ng-click="makeRequest('POST')"> Send POST</a>        
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="src/angular/angular.js"></script>
    <script type="text/javascript" src="src/angular/angular-resource.js"></script>    
    <script type="text/javascript" src="src/ang-http.js"></script>
</body>
</html>